{
  "useTabs": true,
  "singleQuote": true,
  "printWidth": 120,
  "trailingComma": "all",
  "overrides": [
    {
      "files": "**/*.html",
      "options": {
        "parser": "angular"
      }
    },
    {
      "files": ["**/*.tsx", "**/*.jsx"],
      "options": {
        "parser": "typescript",
        "jsxSingleQuote": true,
        "bracketSameLine": false
      }
    }
  ]
}