@using Microsoft.AspNetCore.Components.Authorization

@rendermode InteractiveServer

@inject NavigationManager Navigation

<AuthorizeView>
    <Authorized>
        <div class="d-flex align-items-center">
            <span class="me-2">Hello, @context.User.Identity?.Name</span>
            <button class="btn btn-link p-0" @onclick="NavigateToLogOut">Log Out</button>
        </div>
    </Authorized>
    <Authorizing>
        <span>Loading auth state...</span>
    </Authorizing>
    <NotAuthorized>
        <button class="btn btn-link p-0" @onclick="NavigateToLogin">Log in</button>
    </NotAuthorized>
</AuthorizeView>

@code {
    private void NavigateToLogin()
    {
        Navigation.NavigateTo("/login", forceLoad: true);
    }

    private void NavigateToLogOut()
    {
        Navigation.NavigateTo("/logout", forceLoad: true);
    }
}
